# SPDX-FileCopyrightText: 2025 SecPal
# SPDX-License-Identifier: AGPL-3.0-or-later

name: Reusable - REUSE Compliance

on:
  workflow_call:

jobs:
  reuse:
    name: Check REUSE Compliance
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6
