# SPDX-FileCopyrightText: 2025 SecPal
# SPDX-License-Identifier: AGPL-3.0-or-later

name: Reusable - Markdown Lint

on:
  workflow_call:
    inputs:
      config-file:
        description: "Path to markdownlint config file"
        required: false
        type: string
        default: ".markdownlint.json"

jobs:
  markdown-lint:
    name: Lint Markdown Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          globs: "**/*.md"
          config: ${{ inputs.config-file }}
